@import 'src/common/styles/sass/variables';

.skill {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 1.5s;
  color: transparent;
  cursor: pointer;

  .description {
    align-self: center;
    margin: 0;
    font-size: 13px;

  }


  &:hover {
    transform: scale(1.1);
    transition: 0.8s;
    color: $primaryColor;


  }

  .icon {
    border-radius: 50%;
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding: 0;
      width: 50%;
      background-size: contain;

    }

  }
}
