.myWorksBlock{
    height: auto;
    background:  #1F1F1F;
    border: 1px solid;
    min-width: 360px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.myWorksContainer{
    align-items: center;
    flex-direction: column;
}
.title{
    background-color: transparent;
}
.myWorksBlock h1 {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
}



.works{

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;

}
@media screen and (max-width: 701px){
    .works{
        justify-content: center;
    }

}