.myWorksBlock{
    background: transparent;
    min-width: 360px;
    /*min-height: 100vh;*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}


.myWorksContainer{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.title{
    background: transparent;
}
.myWorksBlock h1 {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
}



.works{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: column;

}
@media screen and (max-width: 900px){
    .works{
        justify-content: center;
    }

}