@import 'src/common/styles/sass/variables';

.myWorksBlock {
  min-height: 100vh;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .myWorksContainer {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 90%;

    .title {
      background: transparent;
    }

    .works {

      height: 100%;
      box-sizing: border-box;
      width: 90%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      @media screen and (max-width: 900px) {
        justify-content: center;
      }

      .works a {

        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        height: max-content;
      }
    }
  }


}
