.myWorksBlock{
    height: 100vh;
    background: aqua;
    border: 1px solid;
}


.myWorksContainer{
    align-items: center;
    flex-direction: column;
}
.title{
    background-color: dimgray;
}

.works{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}