@import '../../../common/styles/sass/variables';

.nav {
    height: 100px;
    background: transparent;
    max-width: 360px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;

    .navItem {
        transition: 1s;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40px;
        text-align: center;
        height: 80%;
        color: $lowTextColor;
        padding: 0;
        margin: 0;
        text-decoration: none;

        a {
            transition: 1s;
            border-radius: 50%;
            width: 40px;
            justify-content: center;
            flex-direction: column;
            display: flex;
            color: $lowTextColor;
            align-items: center;

            .navIcon {
                border: 1px solid $lowTextColor;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                box-sizing: border-box;
                height: 40px;
                width: 40px;
                transition: transform 1s;

                &:hover {
                    border: 1px solid $primaryColor;
                    color: $primaryColor;
                    transform: scale(1.2);
                    transition: 0.3s;
                }
            }
        }

        .titleNav {
            position: absolute;
            transform: translate(0px, 35px);
            background: transparent;
            color: $primaryColor;
            font-size: 12px;
        }
    }
}
