@import './sass/variables.scss';

.navbar {
      width: max-content;
      z-index: 50;
      display: flex;
      align-items: center;
      justify-content: end;
      position: absolute;
      top: 20px;
      right: 40px;
      //background: transparent;

      overflow-x: hidden;

      .active i {
            color: $accentColor;
      }

      i {
            font-size: 20px;
            color: $textColor;
            cursor: pointer;
      }

      .navbar_menu_show {
            width: max-content;
            transition: 1.5s;
            transform: translateX(0px);
            margin-right: 40px;

            & span {
                  //display: none;// медиа запросом убрать для мобилок
                  margin-left: 10px;
                  font-size: 10px;
            }
      }

      .navbar_menu_hide {
            opacity: 0;
            transition: 1.5s;
            transform: translateX(600px);

            & span {
                  //display: none;// медиа запросом убрать для мобилок
                  margin-left: 10px;
                  font-size: 10px;
            }
      }

      .menu_icon {
            transition: 0.3s;
            z-index: 50;
            background-color: transparent;

            & i {
                  //width: 40px;
                  margin-left: 10px;
                  color: $textColor;
                  font-size: 26px;
                  transition: 1s;
                  z-index: 50;
            }

            :active {
                  //transition: 1s;
                  color: $accentColor;
            }

            :hover {
                  transition: 0.3s;
                  color: $accentColor;
            }
      }

      a {
            position: inherit;
            color: $textColor;
            text-decoration: none;
            margin-left: 25px;

            :hover {
                  transition: 0.3s;
                  color: $accentColor;
            }
      }
}
