.main {
    height: 100vh;
    background: gray;
    min-width: 360px;
    background: #1F1F1F;

}

.mainContainer {

    align-items: center;
    justify-content: center;


}

.mainText {
    width: 300px;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    color: white;


}


.mainPhoto {
    width: 200px;
    border-radius: 30px;
    border: 1px solid #565656;
    position: fixed;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    padding: 43px;
    z-index: 10;

}

.myPhoto {
    width: 200px;
    border-radius: 30px;

}
.myLogo {
    display: flex;
    color: white;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 20px;

}
.myLogo span {
    font-size: 12px;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    margin-bottom: 20px;
    margin-left: 30px;

}

@media screen and (max-width: 780px) {
    .mainContainer {
        justify-content: center;

    }
    .mainPhoto {
        width: auto;
        position: relative;
        transform: translateY(-50%);
        padding: 43px;
        z-index: 10;
        margin-bottom: 0;
        margin-left: 0;

    }


}

