.main {
    height: 100vh;
    background: gray;
    min-width: 360px;
    background: #1F1F1F;

}
.mainContainer {

    align-items: center;
    justify-content: center;


}

.mainText {
    width: 300px;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    color: white;


}


.mainPhoto {
    /*border-radius: 20px;*/
    /*max-width: 350px;*/
    /*padding: 5px;*/
    /*width: 350px;*/
    /*height: 600px;*/
    /*border: 1px solid #565656;*/
    /*background: #1F1F1F;*/
    /*position: fixed;*/
    /*top: 100px;*/
    /*left:5px;*/
    width: 200px;
    border-radius: 30px;
    border: 1px solid #565656;
    position: fixed;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    padding: 43px;
    z-index: 10;

}
@media screen and (max-width: 754px){
    .mainContainer{
        justify-content: center;
    }


}

@media screen and (max-width: 760px){
    .mainPhoto{
        width: 200px;
        position: relative;
        left: 35px;
        top: 50%;
        transform: translateY(-50%);
        padding: 43px;
        z-index: 10;


    }
}

