.mainBlock {
  min-height: 100vh;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  flex-direction: column;
  background: transparent;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1.5s;

  }

  .mainContainer {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 900px) {
      justify-content: center;
    }

    .mainText {
      position: relative;
      align-items: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 900px) {
        h1 {
          text-align: center;
          font-size: 38px;
          letter-spacing: -0.4px;
          line-height: 50px;
          margin-bottom: 23px;
          font-weight: 200;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 75px;
        width: 360px;
        height: 1px;
        background: #00CCFF;
      }
    }


  }
}
