.main {
    flex-direction: column;
    min-height: 100vh;
    min-width: 360px;
    background: transparent;
    height: max-content;

}

.mainContainer {


}

.mainText h1 {
    box-sizing: content-box;
    font-size: 48px;
    letter-spacing: -0.2px;
    line-height: 90px;
    font-weight: 300;
    width: 90%;
}


.mainPhoto p {
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 100;
}

.gif {
    transition: transform 1.0s;
    width: 60%;
}
.gif:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.mainPhoto a {
    box-sizing: border-box;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.mainPhoto a .resumeButton {
    border: 1px solid #00CCFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: #00CCFF;
    transition: .3s;
    cursor: pointer;
    color: #1F1F1F;

}

.mainPhoto a .resumeButton:hover {
    border: 1px solid #00CCFF;
    background: transparent;
    color: #00CCFF;

}


.mainPhoto {
    text-align: center;
    width: 200px;
    border-radius: 30px;
    border: 1px solid #26CBFC;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 43px;
    z-index: 10;

}

.myPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 30px;

}

.myLogo {
    display: flex;
    color: white;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 20px;

}

.myLogo span {
    font-size: 12px;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    margin-bottom: 20px;
    margin-left: 30px;

}

@media screen and (max-width: 770px) {
    .mainContainer {
        justify-content: center;

    }

    .mainPhoto {
        width: auto;
        position: relative;
        transform: translateY(0%);
        padding: 43px;
        z-index: 10;
        margin-bottom: 0;
        margin-left: 0;

    }

    .mainText h1 {
        text-align: center;
        font-size: 38px;
        letter-spacing: -0.4px;
        line-height: 50px;
        margin-bottom: 23px;
        font-weight: 200;
    }

    body {
        text-align: center;
    }


}






