.skillsBlock {
    height: auto;
    background: pink;
    border: 1px solid;
    min-width: 360px;
    min-height: 100vh;

}

.skillsContainer {
    align-items: center;
    flex-direction: column;

}

.title {
    background-color: gainsboro;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

