.skillsBlock {

    background: transparent;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

}

.skillsContainer {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: inherit;

}

.title {

}

.skillsContainer h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
}

.skills {
    box-sizing: border-box;
    border: 1px solid #00CCFF;
    border-radius: 25px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*min-height: 500px;*/
}



