.skillsBlock {
    text-align: center;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 470px) {
        height: auto;
    }

    .skillsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 90%;

        .skills {
            height: 70%;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}
