.header {
    height: 80px;
    background: #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 360px;

}

@media screen and (max-width: 754px){
    .header{
        justify-content: center;
    }

}
