.footerBlock {
    height: 60vh;
    background: #ff7457;
    border: 1px solid;
}

.footerContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    background-color: gainsboro;
    margin: 3px;
}


.content {
    height: 40%;
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bar{
    border: 1px solid;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
