.footerBlock {
    height: auto;
    background: transparent;
    min-width: 360px;
}
.footerBlock p{
    text-align: center;
}

.footerContainer {
    height: 280px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: transparent;
    margin: 3px;
}


.content {
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.content h2{
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    color: #fff;
    font-weight: 200;
    background: transparent;
}
.bar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
