.App{
    min-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    background: #1F1F1F;


}
h1,h2{
    font-family: 'Inter', sans-serif;
    color: white;
}

h1 span {
    color: #26CBFC;
    /*color: #39EA92;*/
}
h2 span {
    color: #26CBFC;
}
.left{
    align-self: self-start;
    min-height: 100vh;
    flex: 40%;
    width: 360px;
    /*max-width: 400px;*/
    /*min-width: 400px;*/
    box-sizing: border-box;
    max-width: 360px;



}
.right{
    width: 360px;
    align-self: self-end;
    min-height: 100vh;
    flex: 60%;
    box-sizing: border-box;
}

