/* $textColor: #e09239;
$accentColor: rgb(75, 37, 28);
$mainColor: rgb(189, 189, 189); */
$textColor: #ffffff;
$accentColor: rgba(233, 194, 23, 0.75);
$mainColor: rgba(0, 0, 0, 0.88);
$borderRadius: 0%;
$shadow: -15px -15px 0px 1px $accentColor;
