@import '../../common/styles/sass/variables';

.contactsBlock {
  text-align: center;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  min-height: 70vh;
  background: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .contactsContainer {
    padding: 10px;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 550px;
    transition: .3s;


  }

  .content {

    max-width: 640px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .button {
      transition: background-color 1s;
      width: max-content;
      font-size: 16px;
      color: $backgroundColor;
      line-height: 1.7;
      border: 1px solid $primaryColor;
      box-sizing: border-box;
      border-radius: 25px;
      background: $primaryColor;
      cursor: pointer;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;




      @media screen and (max-width: 770px) {
        align-self: center;
      }

      &:hover {
        border: 1px solid $primaryColor;
        background: transparent;
        color: $primaryColor;
      }

      &:active {
        color: transparent;

      }
    }

  }

  .form {
    backdrop-filter: blur(25px);
    padding: 20px;
    border: 1px solid $lowTextColor;
    border-radius: 25px;
    height: 100%;
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 770px) {
      width: 100%;
    }

    .formData {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      @media screen and (max-width: 770px) {
        flex-direction: column;

      }
    }


    label {
      transition: 1s;
      font-weight: 100;
      font-size: 13px;
      width: max-content;
      color: $textColor;
    }

    sup {
      color: $primaryColor;
    }

    .formInput {
      position: relative;
      width: 50%;
      border: none;
      border-bottom: 0.5px solid $lowTextColor;
      margin-left: -1px;
      border-radius: 6px 6px 0 0;
      height: 40px;
      resize: none;
      display: block;
      color: $textColor;
      font-size: 14px;
      padding: 0;
      transition: .2s;
      box-sizing: border-box;
      min-height: 20px;
      max-height: 260px;
      overflow: auto;
      -moz-appearance: none;
      outline: none;
      background: transparent;


      @media screen and (max-width: 770px) {
        font-size: 12px;
      }

    }

    .formInput__error {
      transition: 1s;
      border: 1px solid $primaryColor !important;

      &::placeholder {
        transition: 1s;
        color: $primaryColor;
      }
    }

    .nameEmailPhone {
      position: relative;
      height: 74%;
      width: 100%;
      display: flex;
      flex: 50%;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;


      input {
        box-sizing: border-box;
        padding-left: 5px;
        width: 90%;

        &::placeholder {
          font-size: 14px;
        }
      }

      .inputGroup {
        transition: 1s;
        display: flex;
        flex-direction: column;
        background: transparent;
        width: 100%;
        min-height: 100px;

        .p__error {
          align-self: start;
          font-size: 12px;
          //transition: 1s;
          color: $primaryColor;
        }
      }
    }


    .textareaGroup {
      position: relative;
      flex: 50%;
      display: flex;
      flex-direction: column;
      background: transparent;
      width: 100%;
      height: 100%;

      .label__error {
        transition: 1s;
        color: $primaryColor;

      }


      .formTextarea {
        align-self: center;
        border: 0.5px solid $lowTextColor;
        border-radius: 6px;
        margin-left: -1px;
        height: 80%;
        resize: none;
        display: block;
        color: $textColor;
        width: 100%;
        font-size: 14px;
        transition: .2s;
        box-sizing: border-box;
        min-height: 20px;
        max-height: 360px;
        overflow: auto;
        -moz-appearance: none;
        outline: none;
        background: transparent;


        &::placeholder {
          transition: 1s;
          font-size: 14px;
        }


        @media screen and (max-width: 770px) {
          font-size: 15px;
        }


      }
    }
  }


}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #050507; /* цвет вашего фона */
  -webkit-text-fill-color: white; /* цвет текста */
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 15px 0 $primaryColor, /* ваш box-shadow для :focus */
  inset 0 0 0 50px #050507; /* цвет вашего фона */
  -webkit-text-fill-color: white; /* цвет текста */
}
