@import '../../common/styles/sass/variables';

.contactsBlock {
  text-align: center;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  min-height: 70vh;
  background: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .contactsContainer {
    padding: 10px;
    width: 90%;
    border: 1px solid $primaryColor;
    border-radius: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    transition: .3s;


  }

  .content {
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;


    .button {
      width: max-content;
      font-size: 16px;
      color: $backgroundColor;
      line-height: 1.7;
      border: 1px solid $primaryColor;
      box-sizing: border-box;
      border-radius: 25px;
      background: $primaryColor;
      transition: .3s;
      cursor: pointer;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      @media screen and (max-width: 770px) {
        align-self: center;
      }

      &:hover {
        border: 1px solid $primaryColor;
        background: transparent;
        color: $primaryColor;
      }
    }

  }

  .form {
    height: 100%;
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 770px) {
      width: 100%;
    }

    .formData {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }


    label {
      font-weight: 100;
      font-size: 13px;
      width: max-content;
      color: $textColor;
    }

    sup {
      color: $primaryColor;
    }

    .formInput {
      width: 50%;
      border: none;
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 40px;
      resize: none;
      display: block;
      color: $textColor;
      font-size: 18px;
      padding: 0;
      transition: .2s;
      box-sizing: border-box;
      min-height: 20px;
      max-height: 260px;
      overflow: auto;
      -moz-appearance: none;
      outline: none;
      background: transparent;
      @media screen and (max-width: 770px) {
        font-size: 15px;
      }


    }

    .nameEmailPhone {
      position: relative;
      width: 100%;
      display: flex;
      flex: 50%;
      flex-direction: column;
      justify-content: space-evenly;
      box-sizing: border-box;


      input {
        width: 100%;
      }

      .inputGroup {
        display: flex;
        flex-direction: column;
        background: transparent;
        width: 100%;
      }
    }


    .textareaGroup {
      position: relative;
      flex: 50%;
      display: flex;
      flex-direction: column;
      background: transparent;
      width: 100%;
      height: 100%;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 76px;
        width: 1px;
        height: 300px;
        background: $primaryColor;
      }

      .textareaGroupLabel {
        font-weight: 100;
        font-size: 13px;
        width: max-content;
        color: $textColor;
      }

      .formTextarea {
        align-self: center;
        border: none;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 100%;
        resize: none;
        display: block;
        color: $textColor;
        width: 100%;
        font-size: 18px;
        transition: .2s;
        box-sizing: border-box;
        min-height: 20px;
        max-height: 360px;
        overflow: auto;
        -moz-appearance: none;
        outline: none;
        background: transparent;
        @media screen and (max-width: 770px) {
          font-size: 15px;
        }


      }
    }
  }


}
